<div class="container mx-auto my-4 animate__animated animate__backInUp">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Agregue un Producto</h4>
          <div class="card-text">
            <div class="form-group">
              <label for="">Description</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="description"
              />
            </div>
            <div class="form-group">
              <label for="">Quantity</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="quantity"
              />
            </div>
            <div class="form-group">
              <label for="">Price</label>
              <input type="number" class="form-control" [(ngModel)]="price" />
            </div>
            <div class="form-group">
              <label for="">Image_URl</label>
              <input type="text" class="form-control" [(ngModel)]="image_url" />
            </div>
            <ng-container *ngIf="!actulizar; else elseTemplate">
              <button
                type="button"
                class="btn btn-success btn-block block"
                (click)="agregarProducto()"
              >
                Add Product
              </button>
            </ng-container>
            <ng-template #elseTemplate>
              <button
                type="button"
                class="btn btn-dark btn-block block"
                (click)="actualizarProducto(id)"
              >
                Update Product
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div
              class="col-md-6 d-flex align-items-center justify-content-center"
            >
              <h3 class="font-weight-bold">{{ factura.name }}</h3>
            </div>
            <div class="col-md-6">
              <table class="table text-center rounded-top">
                <thead class="bg-dark text-white">
                  <tr>
                    <th>ID Invoce</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ factura.id }}</td>
                    <td>{{ factura.date_created }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <section class="col-md-6">
              <div class="rounded-top bg-dark text-white p-2 my-1">
                <h6 class="font-weight-bold text-center">Client</h6>
              </div>
              <div class="p-2">
                <p class="m-0"><strong>DNI:</strong> {{ factura.client.id }}</p>
                <p class="m-0">
                  <strong>Name:</strong> {{ factura.client.name }}
                </p>
                <p class="m-0">
                  <strong>Address:</strong> {{ factura.client.address }}
                </p>
                <p class="m-0">
                  <strong>Postcode: </strong>{{ factura.client.postcode }}
                </p>
                <p class="m-0">
                  <strong>Email: </strong>{{ factura.client.email }}
                </p>
              </div>
            </section>
            <div class="col-md-6"></div>
          </div>
          <div class="row my-2">
            <div class="col-md-12">
              <table class="table text-center rounded-top">
                <thead class="bg-dark text-white">
                  <tr>
                    <th>Img</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of factura.line_items">
                    <td>
                      <img
                        src="{{ product.image_url }}"
                        class="img-fluid"
                        style="height: 60px; width: 60px"
                      />
                    </td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity * product.price }}</td>
                    <td class="d-flex justify-content-between">
                      <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        (click)="seleccionarProducto(product.id)"
                      >
                        <i class="fas fa-eye"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        (click)="borrarProducto(product.id)"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md 12">
              <div
                class="text-center d-flex justify-content-between text-white"
              >
                <p class="p-2 bg-dark font-weight-bold h5 rounded text-white">
                  SubTotal: {{ factura.getTotal() }}
                </p>
                <p class="p-2 bg-dark font-weight-bold h5 rounded text-white">
                  Total: {{ (factura.getTotal() * 1.18).toFixed(2) }}
                </p>
                <!-- <p></p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
