<div class="row justify-content-center my-4">
  <ng-container *ngIf="clientes.length != 0; else elseTemplate">
    <div *ngFor="let client of clientes">
      <div class="col-md-3 my-2">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <!-- <h5 class="card-title">{{ client.id }}</h5> -->
            <h6 class="font-weight-bold card-subtitle mb-2 text-center">
              {{ client.name }}
            </h6>
            <p>
              Email <strong>{{ client.email }}</strong>
            </p>

            <p>
              Phone <strong>{{ client.phone }}</strong>
            </p>
            <p>
              Website <strong>{{ client.website }}</strong>
            </p>
            <b>Details Address</b>
            <div class="card-text">
              <p>
                Street: <strong>{{ client.address.street }}</strong>
              </p>
              <p>
                City: <strong>{{ client.address.city }}</strong>
              </p>
              <p>
                Suite: <strong>{{ client.address.suite }}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <article class="text-center font-weight-bold">
      <div class="h2">Loading.....</div>
      <div class="loader"></div>
    </article>
  </ng-template>
</div>
